* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
}

.producto {
    max-width: 40%;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#contenedor-productos {
    justify-content: center;
}

.contenedor-carrito {
    background-color: rgb(55, 255, 0);
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-carrito {
    display: block;
    margin: auto;
    background-color: white;
    width: 100%;
    padding: 20px;
}

#boton-carrito {
    z-index: 10;
    position: fixed;
    top: 90px;
    right: 20px;
}

.carrito {
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.table__productos {
    display: flex;
}

.table__productos>img {
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__cantidad>input {
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

#contenedor-productos {
    max-width: 100%;
}

@media screen and (min-width: 598px) {
    .producto {
        max-width: 60%;
    }
}

@media screen and (min-width: 686px) {
    .producto {
        max-width: 45%;
    }

    #contenedor-productos {
        max-width: 80%;
    }
}

@media screen and (min-width: 992px) {
    .producto {
        max-width: 20%;
    }

    #contenedor-productos {
        max-width: 80%;
    }
}

@media screen and (min-width: 1400px) {
    #contenedor-productos {
        max-width: 70%;
    }
}