*, body {
    
    margin: 0;
    padding: 0;
}

.producto {
    max-width: 25%;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#contenedor-productos {
    justify-content: center;
}